[user]
        email = mail@gimu.org
        name = gimu
[alias]
	graph = graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	unstage = reset HEAD --
[color]
        ui = auto
