!special
*foreground: #f1f1f1
*background: #1B2227
*cursorColor: #a0a0a0

!black
*color0: #404040
*color8: #606060

!red
*color1: #997766
*color9: #bb9988

!green
*color2: #889977
*color10: #aabb99

!yellow
*color3: #bbaa88
*color11: #ddccaa

!blue
*color4: #444466
*color12: #666688

!magenta
*color5: #775566
*color13: #997788

!cyan
*color6: #558877
*color14: #77aa99

!white
*color7: #d6d6d6
*color15: #f8f8f8

URxvt*scrollBar: false
URxvt*font: xft:Inconsolata:size=10
URxvt*boldFont: xft:Inconsolata:size=10
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.perl-ext-common: default,clipboard,matcher
