! special
*.foreground: #f4f4f4
*.background: #2d2d2d
*.cursorColor: #bea492

! black
*color0: #525252
*color8: #707070

! red
*color1: #D48E9C
*color9: #D99CA6

! green
*color2: #BBBB87
*color10: #BFAF72

! orange
*color3: #F9CC8F
*color11: #F3B386

! blue
*color4: #8DA4A8
*color12: #95B7C2

! magenta
*color5: #9F9CA9
*color13: #B3A5B2

! cyan
*color6: #88AABB
*color14: #AACCDD

! white
*color7: #D2D1D4
*color15: #D6DAC3

URxvt*perl-ext-common: default,matcher,clipboard,url-select,keyboard-select
URxvt*urlLauncher: /usr/bin/chromium
URxvt*matcher.button: 2
URxvt*url-select.underline: true
URxvt*keysym.M-Escape: perl:keyboard-select:activate
URxvt*keysym.M-u: perl:url-select:select_next
URxvt*keysym.M-s: perl:keyboard-select:search

URxvt*colorUL: #88AABB
URxvt*depth: 32
URxvt*scrollBar: false
URxvt*cursorBlink: true
URxvt*cursorUnderline: false
URxvt*savelines: 1024
URxvt*shading: 60

URxvt*font: xft:Inconsolata:size=10
URxvt*boldFont: xft:Inconsolata:size=10
